/* Ensure global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    background-color: #2c83c5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Desktop Navigation */
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
}

/* Hamburger menu hidden by default for desktop */
/*.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Mobile Navigation */
/*@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide the menu by default */
       /* flex-direction: column;
        background-color: #083151;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        text-align: right;
    }

    nav ul.active {
        display: flex; /* Show the menu when hamburger is clicked */
    /*}

    nav ul li {
        margin: 10px 0;
    }

    /* Show the hamburger menu for mobile */
    /*.hamburger {
        display: block;
    }
}

.hamburger {
    position: absolute;
    top: 20px; /* Adjust this as needed */
   /* right: 20px; /* Adjust this as needed */
   /* display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}*/
